.current {
    color: #fff;
    display: flex;
    justify-content: space-between;
    border: 0.02rem solid ghostwhite;
    padding: 2rem;
    margin: 1rem;
}

.currentHeader {
    color: #fff;
    font-family: "Open Sans";
    font-size: 1.8rem;
    padding: 0 0 1rem 1rem;
    text-align: left;
}
 
.weather-box {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.weather-icon {
    width: 15rem;
}

@media screen and (max-width: 815px) {
    .current {
        border: none;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    
    .weather-box {
        border: 0.02rem solid ghostwhite;
        margin: 1rem;
        padding: 2rem;
    }

    .currentHeader {
        text-align: center;
    }
}