.cards {
    border: 0.01rem solid ghostwhite;    
    margin: 1rem;
    min-width: 5.5rem;
    padding: 1rem;
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;        
}

.sevenHourCard {
    border: 0.01rem solid ghostwhite;
    margin: 1rem;
    max-width: 15rem;
    min-width: 5.5rem;
    padding: 1rem;
  }
  
  .temp {
    margin: 0;
  }

  .sevenHourHeader {
    color: #fff;
    font-family: "Open Sans";
    font-size: 1.8rem;
    padding: 1rem 0 1rem 1rem;
    text-align: left;
  }
  
  @media screen and (max-width: 1010px) {
    .card {
      align-content: flex-start;
      flex-wrap: wrap;
      min-width: 15rem;
    }
  }