.cards {
    background: #0f1926;
    margin: 10px auto 0px;
    color: #fff;    
    min-width: 5.5rem;
    padding: 0;
    padding-bottom: 25px;
    width: 90%;
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;           
}

.sevenHourCard {
    background: #2a3c57;
    margin: 1rem;
    max-width: 15rem;
    min-width: 5.5rem;
    padding: 1rem;
}
  
.temp {
  margin: 0;
}

.sevenHourHeader h3 {
  margin-bottom: 20px;
}

.sevenHourHeader {
  margin-top: 8px;
  font-size: 1.8rem;
  padding-left: 2rem;
  text-align: left;
  width: 100%;
}
  
  @media screen and (max-width: 1010px) {
    .card {
      align-content: flex-start;
      flex-wrap: wrap;
      min-width: 15rem;
    }

    .sevenHourHeader {
        text-align: center;
    }
  }