.searchContainer {
    height: 10vh;
}

.welcome {
    text-align: center;
    background-color: lightcyan;
    width: 90vw;
    height: 10vh;
    margin: auto;
    top: 0;
}

.container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}